.verenia-closed {
    background: #141D37;
    position: relative;
}

.header-closed {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    width: 100%;
}

.header-closed__logo {
    display: block;
    width: 140px;
}

.verenia-hero-closed-sec {
    position: relative;
    height: 740px;
    overflow: hidden;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        position: relative;
        z-index: 10;
        padding-bottom: 128px;
    }

    .home-front-sec__img-bg {
        left: 750px;
    }
}

.verenia-hero-closed-sec__text {
    max-width: 690px;
}

.verenia-hero-closed-sec__title {
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    margin-bottom: 17px;
}

.verenia-hero-closed-sec__subtitle {
    color: #459AFF;
    margin-bottom: 78px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.verenia-hero-closed-sec__text-el {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
    color: #fff;
}

.verenia-hero-closed-sec__row {
    display: flex;
}

.verenia-hero-closed-sec__row-logo {
    width: 200px;
    display: block;

    img {
        display: block;
        width: 100%;
    }
}

.verenia-hero-closed-sec__row-text {
    margin-left: 40px;
    padding-left: 30px;
    border-left: solid 1px rgba(255, 255, 255, 0.5);
}

.verenia-hero-closed-sec__row-text {
    color: #459AFF;
    // font-family: "General Sans";
    font-size: 24.862px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    b {
        font-style: italic;
        font-weight: 500;
        color: #fff;
    }
}

.verenia-history-closed-sec {
    padding-top: 100px;
    padding-bottom: 170px;
}

.verenia-history-closed-sec__wrapper {
    position: relative;

    &::before {
        background: linear-gradient(0deg, #6C46FF 0%, #141D37 99.01%);
        width: 1px;
        height: 100%;
        content: "";
        position: absolute;
        left: 50%;
        top: 0;

    }
}

.verenia-history-closed-sec__row {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: calc(50% - 9px);
    margin-bottom: 62px;
    position: relative;
    z-index: 10;

    &:last-child {
        margin-bottom: 0;
    }

    &:nth-child(even) {
        justify-content: flex-start;
        padding-left: calc(50% - 9px);
        padding-right: 0;

        .verenia-history-closed-sec__row-text {
            order: 2;
        }

        .verenia-history-closed-sec__row-year {
            order: 1;
        }
    }
}

.verenia-history-closed-sec__row-circle {
    width: 18px;
    height: 18px;
    border-radius: 100px;
    background: #312B7A;
}

.verenia-history-closed-sec__row-year {
    margin: 0 35px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
}

.verenia-history-closed-sec__row-text {
    padding: 35px 45px;
    border: solid 1px #312B7A;
    border-radius: 15px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    max-width: 455px;
    margin-top: -36px;
}

.verenia-down-closed-sec {
    padding-bottom: 60px;
}

.verenia-down-closed-sec__text-1 {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    margin-bottom: 14px;
}

.verenia-down-closed-sec__logo {
    width: 180px;
    display: block;

    img {
        display: block;
        width: 100%;
    }
}

.verenia-down-closed-sec__link-row {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
}

.verenia-down-closed-sec__text-2 {
    text-align: center;
    color: #459AFF;
    margin-bottom: 200px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    a {
        color: #459AFF;
    }
}

.verenia-down-closed-sec__text-3 {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}


@media only screen and (max-width: 1200px) {
    .verenia-hero-closed-sec .home-front-sec__img-bg {
        left: 200px;
    }

    .verenia-history-closed-sec__row-text {
        max-width: 237px;
        padding: 30px 25px;
    }
}

@media only screen and (max-width: 750px) {
    .verenia-hero-closed-sec .container {
        padding-bottom: 0;
    }

    .verenia-hero-closed-sec__title {
        font-size: 28px;
    }

    .verenia-hero-closed-sec__subtitle {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .verenia-hero-closed-sec__text-el {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .verenia-hero-closed-sec__row {
        flex-wrap: wrap;
    }

    .verenia-hero-closed-sec__row-logo {
        width: 150px;

    }

    .verenia-hero-closed-sec__row-text {
        margin-top: 15px;
        margin-left: 0;
        padding-left: 0;
        border: none;
        font-size: 16px;
        width: 100%;

        span {
            display: none;
        }
    }

    .verenia-hero-closed-sec .container {
        justify-content: flex-start;
        padding-top: 140px;
    }

    .verenia-hero-closed-sec .home-front-sec__img-bg {
        width: 750px;
        top: 272px;
        left: -50px;

    }

    .verenia-hero-closed-sec {
        height: 670px;
    }

    .verenia-history-closed-sec__row {
        padding-right: 0;

        &:nth-child(even) {
            justify-content: flex-end;
            padding-left: 0;
            padding-right: 0;

            .verenia-history-closed-sec__row-text {
                order: 0;
            }

            .verenia-history-closed-sec__row-year {
                order: 1;
            }

            .verenia-history-closed-sec__row-circle {
                order: 2;
            }
        }
    }

    .verenia-history-closed-sec__row-year {
        font-size: 16px;
        margin: 0 25px;
    }

    .verenia-history-closed-sec__row-text {
        max-width: 231px;
        padding: 25px 25px;
        font-size: 16px;
    }

    .verenia-history-closed-sec__wrapper {
        &::before {
            right: 9px;
            left: auto;
        }
    }

    .verenia-history-closed-sec {
        padding-bottom: 100px;
    }

    .verenia-down-closed-sec__logo {
        width: 150px;
    }

    .verenia-down-closed-sec__text-2 {
        margin-bottom: 100px;
    }
}